.quarto-light :not(pre) > code {
  color: #7d12ba;
}

.quarto-dark :not(pre) > code {
  color: #333333;
  background-color: #FFFFFF;
}

html[data-bs-theme="light"] .sidebar nav li code,
html[data-bs-theme="light"] .quarto-toc-content code {
  color: #7d12ba !important;
  padding: 2px 4px;
  border-radius: 4px;
}

html[data-bs-theme="dark"] .sidebar nav li code,
html[data-bs-theme="dark"] .quarto-toc-content code {
  color: #333333 !important;
  background-color: #FFFFFF !important;
  padding: 2px 4px;
  border-radius: 4px;
}